.sidebar {
  position: fixed;
  left: 20px;
  top: 120px;
  width: 200px;
  background: #1f2937;
  color: white;
  border-radius: 12px;
  padding: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  transition: width 0.3s ease;
  z-index: 100;
  height:70%;
  overflow-y: scroll;
  scrollbar-width: none;
}

/* COLLAPSED MODE */

.sidebar.collapsed {
  width: 60px;
}
.sidebar a{
    justify-content: center;

}

/* TOGGLE BUTTON */

.toggle-btn {
  width: 100%;
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 15px;
}

/* MENU */

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 14px;
}

.sidebar a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.sidebar a:hover {
  background: #374151;
}

/* ICON */

.icon {
  font-size: 18px;
  width: 22px;
  text-align: center;
}
