footer, .footer {
    background-color: rgb(60, 60, 60);
    padding: 16px;
    width: 100%;
}

/* allow footer to push to bottom when parent is a column-flex */
.footer { margin-top: auto; }

footer div{
    margin-inline:auto;
    text-align: center;
}

footer p {
    color: white;
    margin: 0;
}